/* font Helvetica */
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica.eot');
    src: local('Helvetica'),
        url('../font/helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica.woff2') format('woff2'),
        url('../font/helvetica/Helvetica.woff') format('woff'),
        url('../font/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica-Oblique.eot');
    src: local('Helvetica Oblique'), local('../font/helvetica/Helvetica-Oblique'),
        url('../font/helvetica/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica-Oblique.woff2') format('woff2'),
        url('../font/helvetica/Helvetica-Oblique.woff') format('woff'),
        url('../font/helvetica/Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica-BoldOblique.eot');
    src: local('Helvetica Bold Oblique'), local('../font/helvetica/Helvetica-BoldOblique'),
        url('../font/helvetica/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica-BoldOblique.woff2') format('woff2'),
        url('../font/helvetica/Helvetica-BoldOblique.woff') format('woff'),
        url('../font/helvetica/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica-Light.eot');
    src: local('Helvetica Light'), local('../font/helvetica/Helvetica-Light'),
        url('../font/helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica-Light.woff2') format('woff2'),
        url('../font/helvetica/Helvetica-Light.woff') format('woff'),
        url('../font/helvetica/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica-Bold.eot');
    src: local('Helvetica Bold'), local('../font/helvetica/Helvetica-Bold'),
        url('../font/helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica-Bold.woff2') format('woff2'),
        url('../font/helvetica/Helvetica-Bold.woff') format('woff'),
        url('../font/helvetica/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../font/helvetica/Helvetica-LightOblique.eot');
    src: local('Helvetica Light Oblique'), local('../font/helvetica/Helvetica-LightOblique'),
        url('../font/helvetica/Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../font/helvetica/Helvetica-LightOblique.woff2') format('woff2'),
        url('../font/helvetica/Helvetica-LightOblique.woff') format('woff'),
        url('../font/helvetica/Helvetica-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



/* font Mont */
@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Black.eot');
    src: local('Mont Black'), local('../font/mont/Mont-Black'),
        url('../font/mont/Mont-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Black.woff2') format('woff2'),
        url('../font/mont/Mont-Black.woff') format('woff'),
        url('../font/mont/Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-ThinItalic.eot');
    src: local('Mont Thin Italic'), local('../font/mont/Mont-ThinItalic'),
        url('../font/mont/Mont-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-ThinItalic.woff2') format('woff2'),
        url('../font/mont/Mont-ThinItalic.woff') format('woff'),
        url('../font/mont/Mont-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-ExtraLight.eot');
    src: local('Mont ExtraLight'), local('../font/mont/Mont-ExtraLight'),
        url('../font/mont/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-ExtraLight.woff2') format('woff2'),
        url('../font/mont/Mont-ExtraLight.woff') format('woff'),
        url('../font/mont/Mont-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Bold.eot');
    src: local('Mont Bold'), local('../font/mont/Mont-Bold'),
        url('../font/mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Bold.woff2') format('woff2'),
        url('../font/mont/Mont-Bold.woff') format('woff'),
        url('../font/mont/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-HeavyItalic.eot');
    src: local('Mont Heavy Italic'), local('../font/mont/Mont-HeavyItalic'),
        url('../font/mont/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-HeavyItalic.woff2') format('woff2'),
        url('../font/mont/Mont-HeavyItalic.woff') format('woff'),
        url('../font/mont/Mont-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-BlackItalic.eot');
    src: local('Mont Black Italic'), local('../font/mont/Mont-BlackItalic'),
        url('../font/mont/Mont-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-BlackItalic.woff2') format('woff2'),
        url('../font/mont/Mont-BlackItalic.woff') format('woff'),
        url('../font/mont/Mont-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-ExtraLightItalic.eot');
    src: local('Mont ExtraLight Italic'), local('../font/mont/Mont-ExtraLightItalic'),
        url('../font/mont/Mont-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-ExtraLightItalic.woff2') format('woff2'),
        url('../font/mont/Mont-ExtraLightItalic.woff') format('woff'),
        url('../font/mont/Mont-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Heavy.eot');
    src: local('Mont Heavy'), local('../font/mont/Mont-Heavy'),
        url('../font/mont/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Heavy.woff2') format('woff2'),
        url('../font/mont/Mont-Heavy.woff') format('woff'),
        url('../font/mont/Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-SemiBold.eot');
    src: local('Mont SemiBold'), local('../font/mont/Mont-SemiBold'),
        url('../font/mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-SemiBold.woff2') format('woff2'),
        url('../font/mont/Mont-SemiBold.woff') format('woff'),
        url('../font/mont/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-RegularItalic.eot');
    src: local('Mont Regular Italic'), local('../font/mont/Mont-RegularItalic'),
        url('../font/mont/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-RegularItalic.woff2') format('woff2'),
        url('../font/mont/Mont-RegularItalic.woff') format('woff'),
        url('../font/mont/Mont-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-BoldItalic.eot');
    src: local('Mont Bold Italic'), local('../font/mont/Mont-BoldItalic'),
        url('../font/mont/Mont-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-BoldItalic.woff2') format('woff2'),
        url('../font/mont/Mont-BoldItalic.woff') format('woff'),
        url('../font/mont/Mont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-SemiBoldItalic.eot');
    src: local('Mont SemiBold Italic'), local('../font/mont/Mont-SemiBoldItalic'),
        url('../font/mont/Mont-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-SemiBoldItalic.woff2') format('woff2'),
        url('../font/mont/Mont-SemiBoldItalic.woff') format('woff'),
        url('../font/mont/Mont-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-LightItalic.eot');
    src: local('Mont Light Italic'), local('../font/mont/Mont-LightItalic'),
        url('../font/mont/Mont-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-LightItalic.woff2') format('woff2'),
        url('../font/mont/Mont-LightItalic.woff') format('woff'),
        url('../font/mont/Mont-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Thin.eot');
    src: local('Mont Thin'), local('../font/mont/Mont-Thin'),
        url('../font/mont/Mont-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Thin.woff2') format('woff2'),
        url('../font/mont/Mont-Thin.woff') format('woff'),
        url('../font/mont/Mont-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Regular.eot');
    src: local('Mont Regular'), local('../font/mont/Mont-Regular'),
        url('../font/mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Regular.woff2') format('woff2'),
        url('../font/mont/Mont-Regular.woff') format('woff'),
        url('../font/mont/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../font/mont/Mont-Light.eot');
    src: local('Mont Light'), local('../font/mont/Mont-Light'),
        url('../font/mont/Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/mont/Mont-Light.woff2') format('woff2'),
        url('../font/mont/Mont-Light.woff') format('woff'),
        url('../font/mont/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}